.character-card{
    width:23%;
    background-color: white;
    padding:1%;
    margin:1%;
}

.character-card img{
    width:100%;
}

h4{
    text-align:center;
    margin: 10px;
}

p{
    font-size: small;
}

article{
    margin:5px;
    border:1px solid rgba(0,0,0,0.5);
    padding:5px;
}